{{! HOME PAGE }}
<main class='introduction-bg'>
  <div class='introduction'>
    <div>
      <p>we connect the best professional artists</p>
      <h1 class='heading-index'>with the best customers<span
          class='dot'
        >.</span></h1>
      <a class='btn-white' href='/projects/explore'>Explore</a>
      <a class='btn-gradient' href='/auth/register'>Register</a>
    </div>
  </div>

  <section>
    <h1 class='heading-1'>projects<span class='dot'>.</span></h1>
    <div class='projects'>
      {{#each projects}}
        <div class='card'>
          <h5 class='card-title'>{{this.category}}</h5>
          <img src='{{this.image}}' alt='' />
          <h6 class='card-title'>{{this.title}}</h6>

          <div class='dot'>
            <a href='/projects/{{id}}'>see details</a>
            <img class='icon' src='/images/arrow.svg' alt='arrow icon' />
          </div>

          <a class='dot favorites' href='/'>
            <img src='/images/star-outline-green.svg' alt='favorite' />
          </a>
        </div>
      {{/each}}
    </div>
  </section>

</main>