<main class='introduction-bg'>
  <div class='introduction'>
    <div>
      <p>we connect the best professional artists</p>
      <h1 class='heading-1'>with the best customers<span
          class='dot'
        >.</span></h1>
      <a class='btn-white' href='/explore'>Explore</a>
      <a class='btn-gradient' href='/register'>Register</a>
    </div>
  </div>
</main>