<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta http-equiv='X-UA-Compatible' content='ie=edge' />
    <title>{{appTitle}}</title>
    {{! Favicon }}
    <link rel='icon' type='image/x-icon' href='/images/favicon.ico' />
    {{! Fonts }}
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Poppins:wght@300;400;500;700&display=swap'
      rel='stylesheet'
    />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>

    <nav class='nav-bar header-bg'>
      <div class='header'>
        <a href='/'>
          <img src='/images/logo-white.svg' width='50' height='50' alt='logo' />
        </a>

        <div>
          <ul class='header-menu'>
            <li><a href='/projects/explore'>Explore </a></li><span class='dot'>
              |</span>

            {{#if user}}
              <li><a href='/users/profile'>My Profile </a></li><span
                class='dot'
              > |</span>
              <li><a href='/auth/logout'>Log out </a></li>
            {{else}}
              <li><a href='/auth/register'>Register </a></li><span class='dot'>
                |</span>
              <li><a href='/auth/login'>Log in </a></li>
            {{/if}}

          </ul>
        </div>
      </div>
    </nav>

    {{{body}}}

    <footer class='footer-bg'>
      <h4>New Future © All rights reserved.</h4>
      <div class='footer-social'>
        <a href='https://www.instagram.com/' target='_blank'>
          <img
            src='/images/instagram.svg'
            width='32'
            height='32'
            alt='Instagram'
          />
        </a>
        <a href='https://www.facebook.com/' target='_blank'>
          <img
            src='/images/facebook.svg'
            width='32'
            height='32'
            alt='Facebook'
          />
        </a>
      </div>
    </footer>

    <script src='/js/script.js'></script>
  </body>

</html>