<div id='login-form'>
  <h1 class='heading-1'>log <span class='dot'>in</span>.</h1>

  <form class='login-form' action='/auth/login' method='POST'>
    <label>
      E-mail
      <input type='email' name='email' placeholder='artist@email.com' />
    </label>

    <label>Password
      <input type='password' name='password' placeholder='********' />
    </label>

    <button id='login' class='btn-gradient' type='submit'>log in</button>

    {{#if errorMessage}}
      <h6 class='error'>{{errorMessage}}</h6>
    {{/if}}
  </form>
</div>