<h1 class="heading-1">email <span class="dot">sent</span>.</h1>
<div class="form">
    
    <h3>Email</h3>
    {{email}}
    
    <h3>Subject</h3>
    {{subject}}
    
    <h3>Message</h3>
    {{message}}

    <button class="btn-gradient">
        <a href="/projects/explore">go back</a>
    </button>
</div>