/* Global setup */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* colors */
:root {
  --black: #141414;
  --white: #f2f2f2;
  --almost-white: #ededed;
  --dark-gray: #525252;
  --light-gray: #c4c4c4;
  --green: #3db68a;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--black);
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  margin-right: 10px;
}

p {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--dark-gray);
}

hr {
  border: 1px solid var(--green);
  margin: 5px 0;
}
/* span dot green */
.dot {
  color: var(--green);
}

/* buttons styles */
button {
  border: none;
  cursor: pointer;
  font-weight: 500;
}

.btn-white {
  color: var(--black);
  text-transform: uppercase;
  padding: 1rem 6rem; /* changed px to rem and resized */
  margin-right: 1rem;
  border-radius: 5px;
  background-image: linear-gradient(#eeeeee, #ffffff);
  box-shadow: 1px 1px 2px #14141460;
}

.btn-white:hover {
  transition-duration: 0.4s;
  color: var(--white);
  background-image: linear-gradient(#3db68a, #4bd89d);
}

.btn-gradient {
  color: var(--white);
  text-transform: uppercase;
  padding: 1rem 6rem; /* changed px to rem and resized */
  border-radius: 5px;
  background-image: linear-gradient(#3db68a, #4bd89d);
  box-shadow: 1px 1px 2px #14141460;
}

.btn-gradient:hover {
  transition-duration: 0.4s;
  color: var(--black);
  background-image: linear-gradient(#cbcbcb, #f7f7f7);
}

.btn-line {
  color: var(--green);
  text-transform: uppercase;
  padding: 14.5px 32px;
  border-radius: 5px;
  border: 1.5px solid var(--green);
  background-color: var(--white);
}

.btn-line:hover {
  transition-duration: 0.4s;
  color: var(--white);
  background-image: linear-gradient(#3db68a, #4bd89d);
}

/* style page layout.hbs */
.header-bg {
  background: linear-gradient(180deg, #3db68a 0%, #4bd89d 100%);
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.2rem;
}

.header-menu a {
  display: inline-block;
  padding: 16px 0;
  position: relative;
  color: var(--white);
  font-weight: 500;
}

.header-menu a:hover {
  color: var(--dark-gray);
}

/* footer 
position:absolute;
bottom: 0;
width:100vw;*/
.footer-bg {
  position: relative;
  top: 300px;
  padding: 20px 100px;
  background-color: #c4c4c4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
}

h4 {
  font-weight: 200;
  padding-bottom: 20px;
}

.footer-social {
  display: flex;
  gap: 40px;
}

/* style page index.hbs */
main {
  background: url(https://images.pexels.com/photos/6713841/pexels-photo-6713841.jpeg)
    var(--green);
  height: 600px;
  background-size: cover;
  margin-bottom: 80rem;
}

.introduction-bg p {
  text-shadow: 1px 1px 1px #14141430;
}

.introduction {
  padding: 300px 100px 100px 100px;
}

.heading-index {
  margin-bottom: 1.5rem;
  font-size: 60px;
  color: var(--white);
  text-shadow: 1px 1px 2px #14141460;
}

.heading-explore {
  display: flex;
  justify-content: flex-end;
  margin-right: 10rem;
  font-size: 72px;
  margin-top: 5rem;
  color: var(--white);
}

.heading-1 {
  display: flex;
  justify-content: flex-end;
  margin-right: 22.5rem;
  font-size: 72px;
  margin-top: 5rem;
  color: var(--white);
}

.heading-2 {
  font-size: 72px;
  margin-top: 5rem;
  color: var(--white);
  margin-left: 7rem;
}

/* style page register.hbs */
#register-form,
#create-project,
#edit-profile {
  background-color: var(--light-gray);
  position: absolute;
  margin: 0 auto;
  width: 100vw; /* changed px to vw */
  height: 60vh; /* changed px to vh */
}

#login-form {
  background-color: var(--light-gray);
  position: absolute;
  margin: 0 auto;
  width: 100vw;
  height: 60vh;
  /* padding: 300px 100px 100px 100px; */
}

.form {
  position: relative;
  top: 0.5rem; /* changed px to rem */
  margin: 0 auto;
  width: 50vw; /* changed px to vw */
  /* height: 65vh; changed px to vh */
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  padding: 50px;
  border-radius: 5px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  font-weight: 500;
  gap: 1rem;
}

.form input {
  margin-top: 0.5rem;
}

.role {
  display: flex;
  justify-content: center;
  gap: 4rem;
  margin: 1rem 0;
}

.login-form {
  position: relative;
  top: 0.5rem;
  margin: 0 auto;
  width: 50vw;
  /* height: 50vh; */
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 4rem;
  border-radius: 5px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.login-form label {
  font-weight: 500;
}

.login-form input {
  margin-top: 1rem;
}

#login {
  margin-top: 1rem;
}

/* cards */
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  overflow: hidden;
  width: 340px;
  height: 310px;
  border-radius: 3px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.56s ease-in-out;
  /* background-image: linear-gradient(to bottom, transparent, #dadada7c); */
}

.card-img {
  width: 100%;
}

.card-title {
  padding: 0.5rem;
  /* color: rgba(255, 255, 255, 0.9); */
  font-size: 2rem;
  line-height: 1;
  font-weight: 600;
  text-align: right;
}

.card-subtitle {
  font-size: 1rem;
  text-align: right;
  line-height: 1;
  padding: 0.5rem;
}

.bg-img {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.artists,
.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 7rem;
  gap: 40px;
}

/* styles for all inputs, labels and textarea*/
input,
label {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

input,
textarea {
  padding: 12px;
  background-color: var(--almost-white);
  border: none;
  border-radius: 3px;
}

textarea {
  resize: none;
}

::-webkit-file-upload-button {
  border: none;
  height: 40px;
  cursor: pointer;
  background-color: var(--light-gray);
}

/* project details  */
#project-details {
  background-color: var(--light-gray);
  position: sticky;
  margin: -80px auto 22rem;
  width: 100vw; /* changed px to vw */
  height: 60vh; /* changed px to vh */
}

.project-detail {
  display: flex;
  top: 0.5rem; /* changed px to rem */
  margin: 0 auto;
  width: 70vw; /* changed px to vw */
  /* height: 80vh;  changed px to vh */
  background-color: var(--white);
  flex-direction: column;
  padding: 50px;
  border-radius: 5px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  font-weight: 500;
}

.project-img img {
  height: 300px;
  width: 500px;
  padding-right: 40px;
}

.wrapper-profile {
  position: relative;
  top: 0.5rem;
  margin: 0 auto;
  width: 70vw;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  padding: 50px;
  border-radius: 5px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  font-weight: 500;
  gap: 1rem;
}

.wrapper-projects {
  display: flex;
  gap: 10px;
}

.favorites {
  display: flex;
  align-items: center;
  gap: 5px;
  background: none;
  padding: 10px;
}

.filter {
  display: flex;
  flex-direction: row;
  justify-content: end;
  text-align: right;
  border: 2px solid var(--green);
  border-radius: 20px;
  padding: 20px;
  margin: 10px 100px 30px 100px;
}

.filter > select {
  margin-left: 10px;
}

.custom-select {
  border: none;
  cursor: pointer;
  font-size: 1rem;
  text-align: right;
}

.comment-detail {
  display: flex;
  top: 0.5rem;
  margin: 0 auto;
  width: 70vw;
  flex-direction: column;
  padding: 50px;
  font-weight: 500;
}
.see-details {
  display: flex;
  gap: 10px;
  padding-right: 10px;
}
.see-details:hover {
  color: var(--dark-gray);
}

.actions {
  padding: 20px 0;
}

.user-profile-img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: 20px;
  object-fit: cover;
}

.user-profile-info {
  display: flex;
  align-items: center;
}
