<h1>welcome {{fullName}} <span class='dot'>.</span></h1>
<div class='form'>
  <div>
    <p>{{fullName}}</p>
    <p>{{skills}}</p>
    <p>{{location}}</p>
  </div>

  <div>
    <a href='/create-project' class='btn-line'>create project</a>
    <a href='/edit-profile' class='btn-gradient'>edit profile</a>
  </div>
</div>