{{!-- WORKING ON CREATE PROJECT - NOT DONE --}}

<div id='create-project'>
  <h1 class='heading-1'>create project <span class='dot'>.</span></h1>

  <form class='form' action='/create-project' method='POST' enctype="multipart/form-data">
    <label>
      Title
      <input type='text' name='title' placeholder='your profession' />
    </label>

     <label>
      Category
      <input type='text' name='category' placeholder='your category' />
    </label>

    <label>Description
      <textarea rows="5" cols="40" name='description' placeholder='about your job...'/></textarea>
    </label>

    <label>
      Skills
      <input
        type='text'
        name='skills'
        placeholder='your skills ie: photoshop, figma, etc...'
      />
    </label>

    <label>Image
      <input type="file" name="image">
    </label>

    <button class='btn-gradient' type='submit'>create my project</button>

    {{#if errorMessage}}
      <p class='error'>{{errorMessage}}</p>
    {{/if}}
  </form>
</div>